<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
        	body {
        		color: blue;
        	
        	}
        	
        	#chat-box {
  				height: calc(100vh - 172px);
  				overflow-y: scroll;
  				padding: 0 15px 15px 15px;
			}
			#message_form {
    			position: fixed;
  				bottom: 0;
  				left: 0;
  				width: 100%;
  				padding: 0 15px 15px 15px;
  				height: 53px;
			}
			
			#message-username {
				color: grey;
				font-style: italic;
				font-size: 14px;
			}
			#message-content {
				color: black;
				font-weight: bold;
				font-size: 14px;
			}
			#message-container-0 {
				padding: 10px;
				background-color: #f2f2f2;
			}
			#message-container-1 {
				padding: 10px;
				background-color: white;
			}
			
			#title {
				color: blue;
				font-style: italic;
				font-weight: bold;
				font-size: 20px;
				padding: 0 15px 15px 15px;
			}
			
        </style>
        <script src="/socket.io/socket.io.js"> </script>
        <script src="chat.js"> </script>
        
    </head>
    <body onload="populate_chat_onLoad('<%=chatid%>')">
    	<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/" class="navbar-brand">PennBook</a>
        <div id="navbarCollapse" class="collapse navbar-collapse">
        	<div class="navbar-nav">
     				<a class="nav-item nav-link active" href="/account"><%= username %> <span class="sr-only">(current)</span></a>
      				<a class="nav-item nav-link" href="/testchat">Chats</a>
      				<a class="nav-item nav-link" style="color: red" href="/leave/<%=chatid%>">Leave Chat</a>
      				
    			</div>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Chat Members</a>
                    <div class="dropdown-menu" id="members-dropdown">
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Add More Friends</a>
                    <div class="dropdown-menu" id="online-friends-dropdown">
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    
    <div id="title"><%=title %> </div>
    <div id="chatid" style="display: none"><%=chatid %></div>
    <div id="last-chat-color" style="visibility: hidden">5</div>
    <div id="username" style="display: none"><%=username %></div>
    <div id="chat-box"> </div>
    
    <form id="message_form">
    	<div class="input-group mb-3">
        <input type="text" class="form-control" id="new_message" name="new_message">
        <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="submit">Send</button>
   		</div>
   		</div>
  </form>

  
  
    </body>
</html>